#############
# Unity: http://www.dannygoodayle.com/2013/02/14/using-unity-with-git/
#############
.DS_Store
Library
Temp
obj
bin
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.user
*.suo
*.blend1
*.blend2
*.blend1.meta
*.blend2.meta
*.DotSettings
_ReSharper.*
bgworker/bgworker_iOS/*
bgworker/bgworker.apk
bgworker/bgworker.exe
bgworker/bgworker_Data/*
bgworker/bgworker_WebPlayer/*
